<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Simple AI Demo with Web Speech API</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<section>
    <h1>chat_bot_v0.1.0</h1>

    <button>
        <img src="img/mic.svg" class="mic" alt="Mic">
    </button>

    <div class="texting" id="text">
        <p>You: <span class="output-you">...</span></p>
        <p>Bot: <span class="output-bot">...</span></p>
    </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>
</body>
</html>